@CHARSET "UTF-8";

body {
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Microsoft Yahei";
    color: #666;
}

div {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;

}

#header {
    height: 82px;
    width: 1200px;
}

#main {
    height: 460px;
    width: 1200px;
    border: 1px black solid;
    overflow: auto;
}

#bottom {
    height: 30px;
    width: 1200px;
    text-align: center;
}

#book {
    width: 100%;
    height: 90%;
    margin: auto;

}

.b_list {
    position: relative;
    height: 300px;
    width: 225px;
    margin: 0 0 0 58px;
    float: left;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: rgba(240, 248, 255, .4);
}

.sale_out {
    margin-top: 70px;
    width: 50%;
}

#page_nav {
    width: 100%;
    height: 10px;
    margin: auto;
    text-align: center;
}

#pn_input {
    width: 30px;
    text-align: center;
}

.book_img {
    width: 130px;
    height: 180px;
}

.book_info {
    width: 80%;
    text-align: left;
    margin-top: 0;
    line-height: 19px;
    margin-left: 43px;
}

.book_info > p:nth-child(3) {
    color: orangered;
    font-weight: bold;
}

.join_cart {
    width: 100px;
    height: 28px;
    background-color: orangered;
    color: white;
    margin-left: 40px;
}

.wel_word {
    font-size: 60px;
    float: left;
}

.logo_img {
    float: left;
    width: 210px;
    height: 95px;
}

#header div a {
    text-decoration: none;
    font-size: 20px;
}

#header div {
    float: right;
    margin-top: 55px;
}

.book_cond {
    margin-left: 500px;
}

.book_cond input {
    width: 50px;
    text-align: center;
}


h1 {
    font-size: 20px;
}

.msg_cont {
    background: none repeat scroll 0 0 #fff6d2;
    border: 1px solid #ffe57d;
    color: #666;
    height: 18px;
    line-height: 18px;
    padding: 3px 10px 3px 40px;
    position: relative;
    border: none;
}

.msg_cont b {
    background: url("../imgs/pwd-icons-new.png") no-repeat scroll -104px -22px rgba(0, 0, 0, 0);
    display: block;
    height: 17px;
    left: 10px;
    margin-top: -8px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    width: 16px;
}

.form .itxt {
    border: 0 none;
    float: none;
    font-family: "宋体";
    font-size: 14px;
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    padding: 10px 0 10px 10px;
    width: 220px;
    border: 1px #e3e3e3 solid;
}

#sub_btn {
    background-color: #39987c;
    border: none;
    color: #fff;
    width: 360px;
    height: 40px;
}

#l_content {
    float: left;
    margin-top: 150px;
    margin-left: 300px;
}

#l_content span {
    font-size: 60px;
    color: white;
}

.tit h1 {
    float: left;
    margin-top: 5px;
}

.tit a {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    color: red;
    text-decoration: none;
}

.tit .errorMsg {
    float: right;
    margin-left: 10px;
    margin-top: 10px;
    color: red;
}

.tit {
    height: 30px;
}

/*购物车*/
#main table {
    margin: 28px auto 0px;
    border-collapse: collapse;
}

#main table td {
    text-align: center;
    border-bottom: 1px #e3e3e3 solid;
    padding: 10px;
}

#main table tr.tr_books td {
    height: 52px;
}

#main table td.td_name {
    width: 260px;
}

#main table td.td_price {
    width: 70px;
}

#main table td.td_author {
    width: 200px;
}

#main table td.td_sales {
    width: 90px;
}

#main table td.td_stock {
    width: 90px;
}

#main table td.cart_td_name {
    width: 280px;
}

#main table td.cart_td_count {
    width: 70px;
}

#main table td.cart_td_singlePrice {
    width: 120px;
}

#main table td.cart_td_totalPrice {
    width: 140px;
}

.cartItemCount {
    width: 70px;
    text-align: center;
}

.cart_info {
    width: 700px;
    text-align: right;
}

.cart_span {
    margin-left: 20px;
}

.cart_span span {
    color: red;
    font-size: 20px;
    margin: 10px;
}

.cart_span a, td a {
    font-size: 20px;
    color: blue;
}

#header div span {
    margin: 10px;
}

#header div .um_span {
    color: red;
    font-size: 25px;
    margin: 10px;
}

#header div a {
    color: blue;
}

.hintDiv {
    width: 500px;
    height: 15px;
}

#orderItemsView {
    position: absolute;
    left: 167px;
    top: 98px;
    height: 462px;
    width: 1202px;
    background-color: white;
    overflow: auto;
    padding-left: 80px;
    box-sizing: border-box;
    border: 0.5px solid gray;
    display: none;
}

.managerOrderItemsView {
    top: 92px!important;
}

#orderItemsView > div:nth-of-type(1) {
    width: 100%;
    height: 70px;
    text-align: center;
    line-height: 70px;
    margin: 0 0 15px -40px;
    font-size: 28px;
}

#orderItemsView > #closeBth {
    position: fixed;
    top: 110px;
    right: 173px;
    cursor: pointer;
}

.orderItem {
    width: 260px;
    height: 280px;
    /*background-color: wheat;*/
    float: left;
    text-align: center;
    font-size: 13px;
    padding-top: 20px;
    margin: 0;
}

.orderItem > img {
    width: 140px;
    height: 196px;
}

.orderItem > div {
    width: 180px;
    height: 70px;
    text-align: left;
    margin-top: 0;
    margin-left: 60px;
    line-height: 18px;
}

.orderItem > div > p:nth-child(1) {
    color: black;
}

.orderItem > div > p:nth-child(2) {
    color: gray;
}

.orderItem > div > p:nth-child(3) {
    color: black;
}

.orderItem > div > p:nth-child(4) {
    font-weight: bold;
    color: orangered;
}